* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    border-left: 100px solid #34343b;
    border-right: 100px solid #34343b;
    min-height: 100vh;
    background-color: #e5f4f3;
    padding: 20px;
}

header {
    background-color: #34343b;
    color: #e5f4f3;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 40px;
}
main{
    max-width: 1000px;
    margin: auto;
}

h2, h3{
        margin: 20px 0;
}

ul{
    padding: 20px;
}
li{
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}


td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: white;
}

td p {
    padding: 10px;
}

td li {
    padding: 5px;
    margin-left: 20px;
}

p {
    margin: 10px 0;
}