* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 100px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background: lightgrey;
}

td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td p {
    padding: 10px;
}

td li {
    padding: 5px;
    margin-left: 20px;
}