*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    border-left: 100px solid #34343b;
    border-right: 100px solid #34343b;
    min-height: 100vh;
    background-color: #e5f4f3;
    padding: 20px;
}

header {
    background-color: #34343b;
    color: #e5f4f3;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 40px;
}
section{
    max-width: 1000px;
    margin: auto;
}
table{
    border-collapse: collapse;
}
table tr td, table tr th{
    border: 1px solid black;
    padding: 10px;
    max-width: 300px;
    height: auto;
    background-color: white;
}