*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    padding: 100px;
    font-family: 'Montserrat', sans-serif;
}
table{
    border-collapse: collapse;
}
table tr td, table tr th{
    border: 1px solid black;
    padding: 10px;
    max-width: 300px;
    height: auto;
}