* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    border-left: 100px solid #34343b;
    border-right: 100px solid #34343b;
    min-height: 100vh;
    background-color: #e5f4f3;
}

header {
    background-color: #34343b;
    color: #e5f4f3;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    margin: 20px 0;
}

.inleiding {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    background-color: #43908d;
    color: #e5f4f3;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s linear;
    margin: 20px;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s linear;
}

